html
    head
        meta(charset="utf-8")
        title Аукцион картин
        include head.pug
        script(type="text/javascript", src="/public/scripts/auction.min.js")

    body(class="w3-light-grey")
        include header.pug

        section(class="w3-container")
            div(class="w3-panel w3-white w3-border w3-col", style="width: calc(80% - 20px)")
                h4 Дата начала аукциона:
                h4 Картины, выставленные на аукцион:
                table(class="w3-table-all w3-margin-bottom")
                    thead
                        tr(class="w3-indigo")
                            th(class="w3-right-align") ID
                            th Название
                            th Автор
                            th(class="w3-center") Стартовая цена
                            th(class="w3-center") Минимальный шаг
                            th(class="w3-center") Максимальный шаг
                            th
                    tbody(id="books-table-body")

            div(class="w3-panel w3-white w3-border w3-col", style="width: 20%; margin-left: 20px;")
                button(class="w3-bar-item w3-button w3-block w3-indigo w3-margin-bottom") Н
                label(for="sort-select") Параметры аукциона:
                select(id="sort-select", class="w3-select w3-border w3-margin-bottom", onchange="sortBooks();")
                    option(value="id", selected) По ID
                    option(value="return-date") По дате возврата
                    option(value="available") По наличию
                button(class="w3-bar-item w3-button w3-block w3-indigo w3-margin-bottom", onclick="document.getElementById('modal-create-book').style.display='block'") Добавить книгу
