link(rel="shortcut icon", href="/public/images/favicon.png", type="image/x-icon")
link(rel="stylesheet", type="text/css", href="/public/styles/w3.css")
link(rel="stylesheet", type="text/css", href="/public/styles/all.min.css")
script(type="text/javascript", src="/public/scripts/jquery-3.6.0.min.js")