html
    head
        meta(charset="utf-8")
        title Аукцион картин - Страница не найдена
        include head.pug

    body(class="w3-light-grey")
        include header.pug

        h2(class="w3-bold w3-display-middle") 404. Страница не найдена.