html
    head
        meta(charset="utf-8")
        title Аукцион картин - Картина #{painting.title}
        include head.pug
        script(type="text/javascript", src="/public/scripts/painting-card.min.js")

    body(class="w3-light-grey", onload="updateData(" + painting.id + ")")
        include header.pug

        div(id="modal-update-painting", class="w3-modal")
            div(class="w3-modal-content w3-card-4 w3-animate-zoom")
                header(class="w3-container w3-indigo")
                    span(onclick="closeUpdateForm();", class="w3-button w3-display-topright") &times;
                    h4 Изменить картину

                div(class="w3-container w3-white")
                    div(class="w3-section")
                        label(class="w3-text-gray") Название картины
                        input(id="update-painting-form-title", class="w3-input w3-border", onchange="checkUpdateForm();", type="text")
                    div(class="w3-section")
                        label(class="w3-text-gray") Автор картины
                        input(id="update-painting-form-author", class="w3-input w3-border", onchange="checkUpdateForm();", type="text")
                    div(class="w3-section")
                        label(class="w3-text-gray") Стартовая цена
                        input(id="update-painting-form-start-price", class="w3-input w3-border", onchange="checkUpdateForm();", type="number")
                    div(class="w3-section")
                        label(class="w3-text-gray") Минимальный шаг цены
                        input(id="update-painting-form-min-step", class="w3-input w3-border", onchange="checkUpdateForm();", type="number")
                    div(class="w3-section")
                        label(class="w3-text-gray") Максимальный шаг цены
                        input(id="update-painting-form-max-step", class="w3-input w3-border", onchange="checkUpdateForm();", type="number")
                    div(class="w3-section")
                        label(class="w3-text-gray") Файл изображения:
                        input(id="update-painting-form-file", class="w3-input", type="file", accept="image/png, image/jpeg", onchange="checkUpdateForm();")
                    div(class="w3-section")
                        label(class="w3-text-gray") Участвует в аукционе?
                        input(id="update-painting-form-placed", class="w3-input", type="checkbox")
                    div(class="w3-section")
                        label(class="w3-text-gray") Описание картины
                        textarea(id="update-painting-form-desc", class="w3-input w3-border", onchange="checkUpdateForm();")
                    button(id="update-painting-form-submit", class="w3-indigo w3-button w3-block w3-border w3-margin-bottom", onclick="updatePainting(" + painting.id + ");") Обновить
                    div(id="update-painting-form-message", class="display-none w3-panel w3-display-container")
                        span(class="w3-button w3-display-topright") &times;
                        p(id="update-painting-form-message-p")

        section(class="w3-container")
            div(class="w3-panel w3-white w3-border")
                h4 Карточка картины
                div(class="w3-white w3-border w3-col w3-margin-bottom", style="width: calc(60% - 20px); margin-right: 20px;")
                    div(class="w3-container w3-border-bottom")
                        div(class="w3-section")
                            span(class="w3-text-dark-gray") Название картины:&nbsp
                            span(id="painting-title")
                        div(class="w3-section")
                            span(class="w3-text-dark-gray") Автор картины:&nbsp
                            span(id="painting-author")
                        div(class="w3-section")
                            span(class="w3-text-dark-gray") Стартовая цена:&nbsp
                            span(id="painting-start-price")
                        div(class="w3-section")
                            span(class="w3-text-dark-gray") Минимальный шаг цены:&nbsp
                            span(id="painting-min-step")
                        div(class="w3-section")
                            span(class="w3-text-dark-gray") Максимальный шаг цены:&nbsp
                            span(id="painting-max-step")
                        div(class="w3-section")
                            span(class="w3-text-dark-gray") Выставлена на аукцион:&nbsp
                            span(id="painting-placed")
                    div(class="w3-container")
                        p(class="w3-text-dark-gray") Описание:
                        p(id="painting-desc")

                div(class="w3-white w3-border w3-col w3-margin-bottom", style="width: 40%; padding: 0px;")
                    img(id="painting-image", src="/public/images/paintings/" + painting.imageName, alt="Painting Image", class="w3-right", style="width: 100%;")

                div(class="w3-margin-bottom w3-left full-width")
                    button(class="w3-indigo w3-button w3-border", onclick="openUpdateForm(" + painting.id + ");") Изменить картину
