@form-container-min-width: 50%;

.form-container {
  min-width: @form-container-min-width;
}

.settings-button {
  padding: 2px;
}

.settings-button-icon {
  width: 15px;
}

.display-none {
  display: none;
}